/* App.css */

.unordered-list {
  padding-left: 20px;
}

.ordered-list {
  padding-left: 20px;
}

.custom-list {
  list-style-type: none;
  padding-left: 20px;
}

.custom-list-item::before {
  content: "✔️ ";
  color: green;
}

.disc-list {
  list-style-type: disc;
}

.circle-list {
  list-style-type: circle;
}

.square-list {
  list-style-type: square;
}

.decimal-list {
  list-style-type: decimal;
}

.decimal-leading-zero-list {
  list-style-type: decimal-leading-zero;
}

.lower-roman-list {
  list-style-type: lower-roman;
}

.upper-roman-list {
  list-style-type: upper-roman;
}

.lower-alpha-list {
  list-style-type: lower-alpha;
}

.upper-alpha-list {
  list-style-type: upper-alpha;
}
